@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --body-color: #010101;
    --nav-color: #000000;
    --side-nav: #cccccc;
    --text-color: #141312;
    --luces: #086699;
    --search-text: #000000;
    --bs-body-bg: #ffffff5a;
}

* {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#particles-js {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    /* Para que las partículas estén detrás del contenido */
}

body {
    transition: background-color 0.5s ease-in-out, background 0.5s ease-in-out, color 0.5s ease-in-out;
    padding: 4px;
}

.modo-claro {
    background-color: #3f3f3f;
    background-image: linear-gradient(90deg, #111874 0%, #4a0e66 100%);
    background-size: 300% 300%;
    animation: gradientAnimation 3s infinite alternate;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}


.modo-oscuro {
    background-color: #000;
}


/* modo obscuro*/

.uil-sun,
.uil-moon {
    color: #ffffff;
    font-size: 24px;
    /* Ajustá el tamaño si querés */
    transition: opacity 0.3s ease-in-out;
}

.uil-sun {
    display: none;
}

.modo-oscuro .uil-sun {
    display: flex;
}

.modo-oscuro .uil-moon {
    display: none;
}


nav {
    z-index: 1000;
    padding-top: 30px;
    border-radius: 25px;
    position: fixed;
    background-color: #65656591;
    backdrop-filter: blur(10px);
    border: 3px solid #ffffff;
    align-items: center;
}

nav .nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 5px;
    padding: 6px;
    justify-content: space-evenly;
    text-decoration: none;
    color: #fff;
}

nav .nav-links li a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: 0.7s all;
    padding: 10px;
    font-weight: 600;
}


nav .nav-links li a:hover {
    color: #086699;
    text-decoration: none;
    background-color: #fff;
    border-radius: 25px;
}

.btn i {
    font-size: 30px;
}



.text-inicial {
    border-radius: 20px;
    background-color: #76767670;
    backdrop-filter: blur(25px);
    border: 1px solid #ffffff;
}


.intro {
    display: flex;
    color: var(--side-nav);
    padding-top: 200px;
    padding-bottom: 100px;
}

.intro button {
    color: #fff;
    font-size: 20px;
    transition: 0.7s all;
}

.intro button i {
    width: 20px;
}

.intro button:hover {
    background-color: #086699;
}

.img-circulo {
    justify-content: center;
    align-items: center;
}

.video {
    display: none;
    width: 400px;
    height: auto;
    border-radius: 60%;

}

.fondo-circulo {
    width: 400px;
    /* Cambiado de vh a vw para ocupar el ancho completo */
    height: auto;
    filter: drop-shadow(0 0 0.75rem var(--body-color));
    z-index: 1;
}

.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    animation: spin 20s linear infinite;
    transition: transform 0.1s ease-out;
}

.bit {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    z-index: -0;
    animation: spinBit 5s linear infinite;
}

.card_body {
    backdrop-filter: blur(25px);

}

.dialogo {
    position: absolute;
    opacity: 0;
    top: 29%;
    left: 67%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: 1s ease-in-out forwards;
}




.btns .btn {
    color: #ffffff;
    border: 0.5px solid #fff;
    filter: drop-shadow(15px 26px 18px -7px rgba(255, 0, 0, 0.4));
}


.btns .btn {
    background: #086699;
    color: #fff;
    border: none;
    position: relative;
    height: 60px;
    font-size: 22px;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

.btns .btn:hover {
    background: #fff;
    color: #086699;
}

.btns .btn:before,
.btns .btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #086699;
    transition: 400ms ease all;
}

.btns .btn:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btns .btn:hover:before,
.btns .btn:hover:after {
    width: 100%;
    transition: 800ms ease all;
}


.tecnologias p {
    background-color: #086699;
    border: 1px solid #ffffff;
    border-radius: 15%;
    padding: 10px;
    transition: all 0.5s ease-in-out;
}

.tecnologias a {
    text-decoration: none;
    color: #fff;
}

.tecnologias p:hover {
    text-decoration: none;
    background-color: #1188c8;
}


.swiper {
    width: 100%;
    height: 100px;
    margin-bottom: 160px;
    backdrop-filter: blur(5px);
    background-color: #65656591;
    border-top: solid 1px #ffffff;
    border-bottom: solid 1px #ffffff;

}

.swiper-slide {
    width: 20px;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    padding: 10px;
    width: auto;
    height: 100px;
}


.wrapper {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: auto;
}

.wrapper .experiencia {
    width: 300px;
    height: 70px;
    background: #086699;
    /* fallback for old browsers */
    background: #086699;
    /* Chrome 10-25, Safari 5.1-6 */
    background: #086699;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-style: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 3px;
    font-family: "Poppins", serif;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    top: -420px;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}

.wrapper .experiencia span {
    position: absolute;
    display: block;
}

.wrapper .experiencia span:nth-child(1) {
    height: 3px;
    width: 300px;
    top: 0px;
    left: -300px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #f6e58d);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1 {
    0% {
        left: -300px
    }

    100% {
        left: 300px;
    }
}

.wrapper .experiencia span:nth-child(2) {
    height: 70px;
    width: 3px;
    top: -70px;
    right: 0px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #f6e58d);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}

@keyframes span2 {
    0% {
        top: -70px;
    }

    100% {
        top: 70px;
    }
}

.wrapper .experiencia span:nth-child(3) {
    height: 3px;
    width: 300px;
    right: -300px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), #f6e58d);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}

@keyframes span3 {
    0% {
        right: -300px;
    }

    100% {
        right: 300px;
    }
}

.wrapper .experiencia span:nth-child(4) {
    height: 70px;
    width: 3px;
    bottom: -70px;
    left: 0px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), #f6e58d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}

@keyframes span4 {
    0% {
        bottom: -70px;
    }

    100% {
        bottom: 70px;
    }
}

.wrapper .experiencia:hover {
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .4);
}

.wrapper .experiencia:hover span {
    animation-play-state: paused;
}




@media (max-width: 760px) {
    .swiper {
        width: 100%;
    }

}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes spinBit {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}



@media (max-width: 1300px) {

    .fondo-circulo {
        width: 400px;
        height: 400px;

    }

    .circle {
        width: 50px;
        height: 50px;
    }

    .circulo-imagen {
        padding: 100px 0;
        width: 50px;

    }

    .intro .row {
        flex-direction: column;
    }

    .dialogo {
        display: none;
    }
}

@media (max-width: 554px) {
    .circle {
        display: none;
    }

    .fondo-circulo {
        width: 300px;
        height: 300px;
    }

    .video {
        width: 300px;
        height: 300px;
    }

    .wrapper .experiencia {
        top: -515px;
    }
}